<form method="post">
    {% csrf_token %}
    <h2>Genetic Information</h2>
    <p>{{ form.age.label }}: {{ form.age }}</p>
    <p>{{ form.gender.label }}: {{ form.gender }}</p>
    <p>{{ form.genetic_risk.label }}: {{ form.genetic_risk }}</p>
    <p>{{ form.chronic_lung_disease.label }}: {{ form.chronic_lung_disease }}</p>

    <h2>Environmental Data</h2>
    <p>{{ form.coughing_of_blood.label }}: {{ form.coughing_of_blood }}</p>
    <p>{{ form.alcohol_use.label }}: {{ form.alcohol_use }}</p>
    <p>{{ form.fatigue.label }}: {{ form.fatigue }}</p>
    <p>{{ form.wheezing.label }}: {{ form.wheezing }}</p>
    <p>{{ form.smoking.label }}: {{ form.smoking }}</p>
    <p>{{ form.passive_smoker.label }}: {{ form.passive_smoker }}</p>
    <p>{{ form.obesity.label }}: {{ form.obesity }}</p>
    <p>{{ form.dust_allergy.label }}: {{ form.dust_allergy }}</p>
    <p>{{ form.frequent_cold.label }}: {{ form.frequent_cold }}</p>
    <p>{{ form.clubbing_of_finger_nails.label }}: {{ form.clubbing_of_finger_nails }}</p>
    <p>{{ form.shortness_of_breath.label }}: {{ form.shortness_of_breath }}</p>
    <p>{{ form.air_pollution.label }}: {{ form.air_pollution }}</p>
    <p>{{ form.snoring.label }}: {{ form.snoring }}</p>
    <p>{{ form.balanced_diet.label }}: {{ form.balanced_diet }}</p>
    <p>{{ form.occupational_hazards.label }}: {{ form.occupational_hazards }}</p>
    <button type="submit">Predict</button>
</form>
